@use '../../../assets/css/font' as f; 

ion-title{
  @include f.title;
  color: var(--color-ink);
}

.filter-generation {
  overflow: auto;

  ion-button{
    text-transform: capitalize;
  }

  ion-row{
    flex-wrap: nowrap;
  }
}
