ion-title{
    font-weight: bold;
}


.filter-generation {
  overflow: auto;

  ion-button{
    text-transform: capitalize;
  }

  ion-row{
    flex-wrap: nowrap;
  }

   ion-button.active {
    --background: red
  }
}
