<ion-card> 
   <ion-card-header> 
      @if(card.isAcquired || true){
         <div class="card-acquired">
            <ion-icon name="checkmark-sharp"></ion-icon>
         </div>
     }

      <div>
         @if (card.srcPicture) {
            <img class="card-image" [alt]="card.name" [src]="getSrc(card.srcPicture)"/>
         }
      </div>
   </ion-card-header>

   <ion-card-content select="[body]">
      <div class="card-name ion-margin-bottom">
         {{ card.name }}
      </div>

      <div class="card-meta">
         <div class="card-serie">
            {{ card.serie.name }}
         </div>

         <div class="card-price">
            {{ card.averagePrice | currency:'EUR':'symbol' }}
         </div>
      </div>

      <ng-content></ng-content>
   </ion-card-content>
</ion-card>
