<ion-header [translucent]="true">
   <ion-toolbar>
      <div class="header-content">
         <div class="hearder-icon">
           <ion-icon name="server-outline"></ion-icon>
         </div>

        <div class="header-text">
            <span class="header-title">Backup</span> 
         
            <span class="header-description">
               Sauvegarder les données
            </span> 
         </div>              
      </div>
   </ion-toolbar>  
</ion-header>

<ion-content class="ion-padding-top" [fullscreen]="true">
   <ion-row class="ion-align-content-center">
      @if(launchBackup()){
         <ion-col class="ion-margin-bottom" size="12">
            <ion-progress-bar [value]="stepProgression()"></ion-progress-bar>

            <div class="step-name">
               @if(currentStep()?.stepOrder){
                  {{currentStep()?.name}} - {{`${currentStep()?.stepOrder}/${countStep()}`}}
               }@else{
                  {{currentStep()?.name}}
               }         
            </div>
         </ion-col>
      }

      <ion-col>     
         <div class="ion-text-center">
            <input accept="text/plain" #inputFile type="file" hidden (change)="import($event)" />

            <ion-button (click)="export()" [strong]="true" class="button--main ion-margin-bottom" [disabled]="launchBackup()">
               <ion-icon slot="start" name="download-outline"></ion-icon>
               Exporter les données
            </ion-button>

            <ion-button (click)="openFileSelector()" [strong]="true" class="button--main" [disabled]="launchBackup()">
               <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
               Importer des données
            </ion-button>
         </div>
      </ion-col>
   </ion-row>
</ion-content>
