<ion-content>  
    <div class="loading-content">
        <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-bottom">
            <ion-col size="auto">
                <ion-icon name="briefcase-outline" class="app-logo"></ion-icon>
            </ion-col>

            <ion-col size="auto">
                <ion-text class="loading-content__title">     
                    <span class="title-main">My</span>
                    <span class="title-accent">Toolbox</span>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-text>
            <div>Chargement en cours</div>
            <span class="loading-content__dots">{{dots}}</span>
        </ion-text>
    </div>
</ion-content>
