<ion-header [translucent]="true">
   <ion-toolbar>

      <div class="header-content">
         <ion-buttons>
            <ion-back-button fill="outline" icon="chevron-back-outline"></ion-back-button>
         </ion-buttons>

         @if(card.id == 0){
            <div class="header-text">
               <span class="header-title">Modifier la carte</span> 
            
               <span class="header-description">
                  {{card.name}}.{{ card.serie.name}}
               </span> 
            </div>
         }@else{
            <span class="header-title">Ajouter une carte</span>
         }     
            
      </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
   @if(loaded){
      <form [formGroup]="formGroup" novalidate >
         <input formControlName="id" type="text" hidden />

         
         <div class="ion-margin-top ion-margin-bottom">
            <ion-grid>
               <ion-row>
                  <ion-col>
                     @if(!hasZoom){
                        @if(!formGroup.get('srcPicture')?.value){
                           <div class="ion-text-center">
                              <img class="card-image card-image--placeholder" src="../../../../assets/card_empty.png" alt=""/>
                           </div>
                        }
                        @else{
                           <img class="card-image" [src]="getSrc(formGroup.get('srcPicture')?.value)" (click)="initZoom($event)">
                        }   
                     }
                  
                     @if(card.serie.srcLogo){
                        <div class="serie-logo ion-margin-top">
                           <img [src]="'../../../../' + card.serie.srcLogo" alt="">
                        </div>
                     }   
                  </ion-col>

                  <ion-col class="card-image-wrapper">
                     <ion-label>
                        IMAGE
                     </ion-label>

                     <input #inputFile type="file" hidden (change)="onFileChanged($event)" />

                     <ion-button fill="outline" (click)="onFileSelector($event)">      
                        <ion-icon name="image-outline" slot="start"></ion-icon> Choisir un fichier 
                     </ion-button>

                     <ion-button fill="outline" (click)="onCapturePhoto($event)">
                        <ion-icon name="camera-outline" slot="start"></ion-icon> Prendre une photo
                     </ion-button>
                  </ion-col>

                  <ion-col size="12">          
                     <ion-input formControlName="srcPicture" class="d-none"></ion-input>
                     <ion-input formControlName="picture" class="d-none"></ion-input>

                     @if(formGroup.controls['srcPicture'].invalid && (formGroup.controls['srcPicture'].dirty || formGroup.controls['srcPicture'].touched)){
                        <ion-text color="danger">L'image est requise</ion-text>
                     }
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>

         <div class="ion-margin-top ion-margin-bottom">
            <ion-input label="Nom" formControlName="name" label-placement="stacked" fill="outline"> </ion-input>

            @if(formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)){
               <ion-text color="danger">Le nom est requis</ion-text>
            }
         </div>
         

         <div class="ion-margin-top ion-margin-bottom">
            <ion-input class="ion-margin-bottom" label="Montant" formControlName="averagePrice" type="number" inputmode="decimal" placeholder="00.00" label-placement="floating" fill="outline">
               <ion-icon slot="start" name="cash-outline"></ion-icon>
            </ion-input>

            @if(formGroup.controls['averagePrice'].invalid && (formGroup.controls['averagePrice'].dirty || formGroup.controls['averagePrice'].touched)){
               <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">Montant requis</p></ion-text>
            }
         </div>

         <div class="ion-margin-top ion-margin-bottom">
            <ion-select class="ion-margin-bottom" label="Génération" formControlName="generationID" interface="popover" placeholder="-" fill="outline">
               @for(item of generations; track item.id ){
                  <ion-select-option [value]="item.id"> 
                     {{item.libelle}}
                  </ion-select-option>
               }
            </ion-select>

            @if(formGroup.controls['serieID'].invalid && (formGroup.controls['serieID'].dirty)){
               <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">La génération est requise</p></ion-text>
            }
         </div>

         <div class="ion-margin-top ion-margin-bottom">
            <ion-select (ionChange)="onSerieChanged($event)" class="ion-margin-bottom" label="Série" formControlName="serieID" interface="popover" placeholder="-" fill="outline">
               @for(item of series; track item.id) {
                  <ion-select-option [value]="item.id"> 
                     {{item.name}}
                  </ion-select-option>
               }
            </ion-select>

            @if(formGroup.controls['serieID'].invalid && (formGroup.controls['serieID'].dirty)){
               <ion-text color="danger"><p class="ion-no-margin ion-margin-bottom text-xs ion-padding-start">La série est requise</p></ion-text>
            }
         </div>

         <div class="ion-display-flex ion-justify-content-between ion-margin-top ion-margin-bottom">
            <ion-toggle formControlName="isAcquired">Acquise</ion-toggle>
         </div>

         <div class="action-buttons ion-margin">
            @if(card.id > 0){
               <ion-button (click)="onDelete()" color="danger" [strong]="true">Supprimer</ion-button>
            }
            <ion-button (click)="onSubmit(formGroup.value)" color="primary" [strong]="true" [disabled]="formGroup.invalid">Enregistrer</ion-button>
         </div>
      </form>
   }
   @else{
      <div class="loader-center">
         <ion-spinner name="dots"></ion-spinner>
      </div>
   }

   @if (hasZoom){
      <div class="backdrop-zoom" (click)="closeZoom()">
         <img class="card-image" #cardImageZoomed [src]="getSrc(formGroup.get('srcPicture')?.value)">
      </div>
   } 
</ion-content>