ion-content {
  --padding-bottom: 80px;
}

ion-grid{
  --ion-grid-padding: 0;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.serie-logo {
  display: flex;
  justify-content: end;
}

.backdrop-zoom{
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  z-index: 100;
  position: fixed;
  left: 0px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-image--placeholder {
  opacity: 0.7;
}
