:root {
  --ion-color-primary: #006600;
  --ion-color-primary-rgb: 0, 102, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005a00;
  --ion-color-primary-tint: #1a751a;
}:host {
  --app-page-theme-color: linear-gradient(135deg, #3b1f6e 0%, #7c3aed 100%);
}

ion-header {
  background: var(--app-page-theme-color);
}

ion-content {
  --padding-bottom: 80px;
}

ion-grid{
  --ion-grid-padding: 0;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.serie-logo {
  display: flex;
  justify-content: end;
}
