<ion-tabs>
   <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tcg">
         <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
         <ion-label>TCG</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="convertisseur">
         <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
         <ion-label>Convertisseur</ion-label>
      </ion-tab-button>
     
      <ion-tab-button tab="backup">
         <ion-icon aria-hidden="true" name="server-outline"></ion-icon>
         <ion-label>Backup</ion-label>
      </ion-tab-button>

      <div class="app-version">V {{numVersion}}</div>
   </ion-tab-bar>
</ion-tabs>