@use '../../assets/css/font.scss' as f; 

ion-tab-bar {
  --background: #ffffff;
  border-top: 1px solid #e5e5e5;
  height: 64px;
  padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-button {
  --color-selected: var(--color-muted); 
  @include f.menu;

  ion-label{
    color: var(--color-muted); 
    @include f.menu;
  }

  &.tab-selected{
    --color-selected: var(--color-main); 
    @include f.menu-selected;

    ion-label{
      color: var(--color-main); 
      @include f.menu-selected;
    }
  }
}

.app-version{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: var(--font-size-xxs);
}