<ion-header [translucent]="true">
   <ion-toolbar>
      <div class="header-content">
         <div class="hearder-icon">
           <ion-icon name="briefcase-outline"></ion-icon>
         </div>

        <div class="header-text">
            <span class="header-title">Ma collection</span> 
         
            <span class="header-description">
               Trading Card Game
            </span> 
         </div>              
      </div>

      <ion-buttons slot="end">
         <ion-fab-button class="button--create" size="small" [routerLink]="['creation']" routerDirection="forward" [routerAnimation]="pageTransition">
            <ion-icon name="add"></ion-icon>
         </ion-fab-button>
      </ion-buttons>
   </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
   <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button class="button--filters" size="small" id="btn-modal-filters" expand="block">
         <ion-icon size="small" name="filter-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button class="button--sorts" size="small"id="btn-modal-sorts" expand="block">
         <ion-icon  size="small" name="swap-vertical-outline"></ion-icon> 
      </ion-fab-button>   
   </ion-fab>

   <app-dashboard></app-dashboard>

   @if(!loaded){
   
      @if(this.pagedCardResult().cards.length > 0){
        <div class="resume-search">
          <!-- Résultats -->
          <div class="resume-search__section">
            <p class="resume-search__section-value">{{ totalCard() }}</p>
            <span class="resume-search__section-result">carte{{(totalCard() > 1 ? "s" : "")}}</span>
          </div>

          <div class="resume-search__separator"></div>

          <!-- Valeur -->
          <div class="resume-search__section">
            <p class="resume-search__section-value"> {{ totalValue() | currency:'EUR':'symbol':'1.2-2':'fr-FR' }}</p>
            <span class="resume-search__section-result">valeur</span>
          </div>
        </div>
      }

      <ion-grid class="grid-cards ion-margin-bottom">
         <ion-row>
            @for (item of pagedCardResult().cards; track item.id) 
            {
               <ion-col size="6">
                  <app-card [card]="item" [routerLink]="['detail', item.id]" routerDirection="forward" [routerAnimation]="pageTransition">
                     <!-- <p body>Injecte du contenu dans la partie body du composant</p> -->
                  </app-card>
               </ion-col>
            } 
            @empty {
               <ion-col>
                  <ion-text color="info">Aucune cartes trouvées</ion-text>
               </ion-col>
            }
         </ion-row>
      </ion-grid>  

      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" [disabled]="pagedCardResult().isFinished">
         <ion-infinite-scroll-content loadingText="Chargement..." loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>    
   } 
   @else{
      <div class="loader-center">
         <ion-spinner name="dots"></ion-spinner>
      </div>
   }

   <app-filter></app-filter>
      
   <app-sort></app-sort>
</ion-content>
