<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-title>
         <div class="header-title">
            <ion-icon name="albums-outline"></ion-icon>
            <span>Suivi Collection TCG</span>
         </div>
      </ion-title>

      <ion-buttons slot="end">
         <ion-fab-button class="btn-add" size="small" [routerLink]="['creation']" routerDirection="forward" [routerAnimation]="slideForward">
            <ion-icon name="add"></ion-icon>
         </ion-fab-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
   @if(loaded){

      @if(this.cards().length > 0){
         <div>
            <ion-fab-button class="btn-filters" size="small" id="modal-filters" expand="block">
               <ion-icon size="small" name="filter-outline"></ion-icon>
            </ion-fab-button>    
         </div>

         <span class="">
            <ion-badge class="text-xs">{{this.cards().length}} carte{{this.cards().length > 1 ? "s" : ""}}</ion-badge>
         </span>    
      }

      <ion-grid class="grid-cards ion-margin-bottom">
         <ion-row>
            @for (item of cards(); track item.id) 
            {
               <ion-col size="4">
                  <app-card [card]="item" [routerLink]="['detail', item.id]" routerDirection="forward" [routerAnimation]="slideForward">
                     <!-- <p body>Injecte du contenu dans la partie body du composant</p> -->
                  </app-card>
               </ion-col>
            } 
            @empty {
               <ion-col>
                  <ion-text color="info">Aucune cartes trouvées</ion-text>
               </ion-col>
            }
         </ion-row>
      </ion-grid>   
      
      <ion-modal #modal trigger="modal-filters" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
         <ng-template>
            <ion-content>             
               <div class="ion-margin-top ion-margin-bottom">
                  <ion-searchbar show-clear-button="always" [(ngModel)]="searchText" (ionInput)="searchTextChanged()" [debounce]="800" placeholder="Rechercher une carte"></ion-searchbar>

                  <ion-grid class="filter-generation">
                     <ion-row>
                        @for (item of generations; track item.id) 
                        {
                           <ion-col>
                              <ion-button size="small" [color]="initGenerationColor(item.id)" (click)="generationChanged(item.id, $event)">{{item.libelle}}</ion-button>
                           </ion-col>
                        } 
                        @empty {
                           <ion-col>
                              <ion-text color="danger">Problème au chargement des générations</ion-text>
                           </ion-col>
                        }
                     </ion-row>
                  </ion-grid>
               </div>
            </ion-content>
         </ng-template>
      </ion-modal>
   } 
   @else{
      <div class="loader-center">
         <ion-spinner name="dots"></ion-spinner>
      </div>
   }
</ion-content>
