:host {
  --app-page-theme-color: var(--ion-color-tcg);
}

ion-header {
  background: var(--app-page-theme-color);

  ion-fab-button{
    &.btn-add{
      --background: var(--app-page-theme-color);
    }
  }
}
 
ion-icon.filters{
  --color: var(--app-page-theme-color);
}

ion-badge {
 --background: var(--app-page-theme-color);
}

ion-grid.grid-cards{
  --ion-grid-padding: 0;
}

ion-fab{
  display: flex;
  bottom: 20px;

  ion-fab-button{
    &.btn-filters{
      --background: var(--app-page-theme-color);
    }

     &.btn-sorts{
      --background: var(--app-page-theme-color);
    }
  }
}

